<%- layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h1>Create New Listings</h1>
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
      >
        <!-- listing[title] :- this will create a obj 'listing' and inside that obj title, desc, etc will be key and data will be values-->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            type="text"
            name="listing[title]"
            placeholder="Add a catchy title"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Title should be valid</div>
        </div>

        <div class="mb-3 form-desc">
          <label for="desc" class="form-label">Description</label>
          <textarea
            class="form-control"
            name="listing[desc]"
            placeholder="Enter Description"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Description should be valid</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            class="form-control"
            type="text"
            name="listing[image]"
            placeholder="Enter Image URL"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              class="form-control"
              type="text"
              name="listing[price]"
              placeholder="8900"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              class="form-control"
              type="text"
              name="listing[location]"
              placeholder="Mumbai, Maharashtra"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Location should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            class="form-control"
            type="text"
            name="listing[country]"
            placeholder="India"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Country should be valid</div>
        </div>
        <button class="btn btn-dark mt-1 edit-btn">Add</button>
      </form>
    </div>
  </div>
</body>
